Repository datosgobar/portal-andino-theme, pull requests merged in 2018-04, with the labels that each got.

#207 191 issued y modified se sacan de extras
  ckanext/gobar_theme/helpers.py
  ckanext/gobar_theme/templates/package/resource_read.html
Labels: portal-andino-theme

#208 Se puede modificar el campo 'URL' en la página de edición de datasets.
  ckanext/gobar_theme/templates/package/snippets/package_basic_fields.html
Labels: in progress, portal-andino-theme

#209 Modifico el template para que no haya error buscando un campo inexist…
  ckanext/gobar_theme/templates/package/resource_read.html
Labels: in progress, portal-andino-theme

#213 Arreglo discrepancia de nombres
  ckanext/gobar_theme/js/package/form_actions.js
  ckanext/gobar_theme/templates/package/resource_read.html
  ckanext/gobar_theme/templates/package/snippets/package_metadata_fields.html
  ckanext/gobar_theme/templates/package/snippets/secondary_info.html
Labels: in progress

#211 176 fusion andino datosgobar landing apis
  ckanext/gobar_theme/package_controller.py
  ckanext/gobar_theme/public/img/api-02.png
  ckanext/gobar_theme/styles/css/gobar_style.css
  ckanext/gobar_theme/templates/apis/apis.html
Labels: in progress, portal-andino-theme

#217 Correccion al crear el dataset.
  ckanext/gobar_theme/package_controller.py
Labels: in progress, portal-andino-theme

#219 Los botones ya no están en mayúscula.
  ckanext/gobar_theme/templates/header.html
Labels: in progress, portal-andino-theme

#221 Faltaba agregar el script necesario para el funcionamiento del botón …
  ckanext/gobar_theme/templates/group/snippets/group_form.html
Labels: in progress, portal-andino-theme

#227 166 mejorar validaciones formulario metadatos recurso
  ckanext/gobar_theme/js/forms/resource_form.js
  ckanext/gobar_theme/templates/macros/form.html
  ckanext/gobar_theme/templates/package/snippets/resource_form.html
  ckanext/gobar_theme/templates/package/snippets/resource_form_attributes.html
Labels: in progress, portal-andino-theme

#225 Hago que aparezca '...' al final de la descripción si queda cortada p…
  ckanext/gobar_theme/styles/css/gobar_style.css
Labels: in progress, portal-andino-theme

#224 Cambio el nombre del archivo 'about_template.html' a 'seccion-acerca.…
  ckanext/gobar_theme/templates/seccion-acerca.html
Labels: in progress, portal-andino-theme

#231 Cambio implementación del uploader de recursos propia de GobAr.
  ckanext/gobar_theme/js/package/resource/form_actions.js
  ckanext/gobar_theme/uploader.py
Labels: in progress, portal-andino-theme
